@media (max-width: 1200px) {

  .aside {
    max-width: 100%;
    padding-bottom: 80px;

    &__author {
      justify-content: center !important;
    }

    &__product-author {
      width: fit-content !important;
    }

    &__link-container {
      justify-content: center;
    }

    &__link {
      width: 200px;
    }

    &__submit {
      width: 200px;
      margin: 0 auto;
    }

    &__product-container {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &__product-item {
      margin-right: 30px;
    }
  }

  .products {
    &__inner {
      flex-direction: column;
    }

    &__list {
      justify-content: center;
    }

    &__content {
      max-width: 100%;
    }
  }

  .product-page {

    .aside {
      max-width: 270px;
      margin: 0 auto;
    }

    &__inner {
      flex-direction: column;
    }

    &__description {
      max-width: 100%;
    }

    .aside {
      &__link {
        width: 100%;
      }
    }
  }

  .tutorials {
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin-right: 30px;
      margin-bottom: 30px;
    }
  }

  .choose {
    padding: 60px 0;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__item {
      margin-bottom: 30px;
    }
  }

  .newest-products,
  .tutorials,
  .trending-products {
    padding: 60px 0;
  }

  .footer {
    padding: 60px 0;

    &__inner {
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding-bottom: 60px;
    }

    &__item {
      margin-right: 15px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 992px) {

  .product-page {
    &__more {
      .product-page__list {
        justify-content: center;
      }
    }
  }

  .products {
    &__pagination {
      justify-content: center;
    }

    &__button--sort-lg {
      display: none;
    }

    &__button--sort-sm {
      width: 100% !important;
    }
  }

  .header {
    &__logo {
      margin-right: 30px;
    }

    &__contact {
      display: none;
    }

    &__nav-adaptive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__nav-inner {
      flex-direction: column;
      position: relative;
    }

    &__nav-list {
      flex-direction: column;
      position: absolute;
      background-color: $black;
      width: 100%;
      top: 70px;
      z-index: 1;
      max-height: 0;
      overflow: hidden;
    }

    &__nav-item {
      margin-right: 0;
    }

    &__link {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {

  .product-page {

    &__link {
      margin-right: 0 !important;
      margin-bottom: 15px;
    }

    &__image-container {
      height: 360px;
    }

    &__product-links {
      margin-right: 30px;
      margin-bottom: 30px;
      flex-direction: column;
      justify-content: center;
      margin-right: 0;
    }

    &__social-link {
      justify-content: center;
      margin-bottom: 15px;
    }

    &__link-container {
      flex-direction: column;
    }
  }

  .search {
    &__inner {
      text-align: center;

      &--big {
        padding: 50px 0;
      }
    }

    &__title {
      font-size: 35px;
      text-align: center;
    }

    &__input {
      font-size: 13px;
    }
  }

  .header {

    .dropdown {
      top: 44px;
      z-index: 2;

      &--message {
        left: -38px;
      }

      &--cart {
        left: -87px;
      }
    }

    .container {
      padding: 0;
    }

    &__logo {
      padding: 10px 0 20px 15px;
    }

    &__inner {
      position: relative;
      padding: 0;
    }

    &__notifications {
      order: 1;
    }

    &__user {
      margin-bottom: 20px;
    }

    &__content {
      position: absolute;
      max-height: 200px;
      background-color: #ffffff;
      padding: 10px;
      right: 90px;
      top: 0;
      justify-content: center;
      transition: all .3s;

      overflow: hidden;
      padding: 0;
      max-width: 0;
    }

    &__button {
      display: none;
    }

    &__adaptive {
      display: flex;
    }
  }
}

@media (max-width: 576px) {

  .product-page {
    padding-bottom: 60px;

    &__image-container {
      height: 250px;
    }

    &__more {
      .product-page__list {
        justify-content: center;
      }

      .product-item__type {
        text-align: left;
      }
    }

    &__tab-buttons {
      flex-direction: column;
    }

    &__button {
      width: 100%;
    }

    &__list {
      max-height: 100%;
    }
  }

  .products {
    &__filter {
      flex-direction: column;
      height: 100px;
    }

    &__label {
      display: flex;
      padding-top: 3px;
      align-items: center;
    }

    &__button-container {
      width: 100%;
    }

    &__button {
      width: 50%;
    }

    &__select {
      height: auto;
    }
  }

  .aside {
    padding-bottom: 40px;

    &__product-item {
      margin-right: 0;
    }
  }

  .pagination {
    &__item {
      margin-bottom: 10px;
    }

    &__list {
      justify-content: center;
    }
  }

  .tutorials,
  .trending-products {
    &__title {
      font-size: 28px;
    }
  }

  .choose {
    &__title {
      font-size: 28px;
    }

    &__item {
      margin-right: 0;
    }
  }

  .tutorials {
    &__item {
      margin-right: 0;
    }
  }

  .become {

    &__inner {
      flex-wrap: wrap;
      min-width: 100%;
      padding: 0 10px;
      text-align: center;
    }

    &__link {
      width: 100%;
    }

    &__title {
      max-width: 100%;
      font-size: 25px;
    }
  }

  .newest-products {

    &__title {
      font-size: 28px;
    }

    &__button-list {
      flex-wrap: wrap;
      padding: 0 20px;
    }

    &__button-item {
      margin-bottom: 10px;
    }

    &__links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &__link {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }

  .product-item {
    &__container {
      flex-direction: column;
      padding: 10px;
    }

    &__user {
      margin-bottom: 15px;
    }

    &__title {
      font-size: 16px;
      height: auto;
      margin-bottom: 10px;
    }

    &__type {
      text-align: center;
    }

    &__image {
      width: 100%;
    }
  }

  .social-link {
    &__list {
      justify-content: center;
    }
  }

  .footer {

    &__inner {
      flex-direction: column;
    }

    &__item {
      margin-right: 0;
      text-align: center;
      max-width: 100%;
    }

    &__title {
      &:before {
        left: 41%;
      }
    }

    &__footnote {
      padding: 10px;
      text-align: center;
    }
  }
}